doctype html
html(lang='en')
  head
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../css/nav-layout.css')
    link(rel='stylesheet' href='../css/layout.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Hueco Tanks - Problem view: !{problem}
  nav
    ul.grid.nav-grid
      li.nav-item.grid-item.item1
        a(href='/index.html') Home
      li.nav-item.grid-item.item2.current
        a(href='/locations.html') Location List
      li.nav-item.grid-item.item3
        a(href='/map.html') Map View
  .grid.container
    .grid-item.header
      h1 !{problem}
    .grid-item.main-content <!--{problemDetails}-->
      //h2 !{problem}
      div.info
        p Route id: !{routeID}
        p Route type: !{type}
        p Difficulty rating: !{difficulty}
        p Star Rating: !{stars} stars
        p Location: !{subArea}
        p Mountain project page link: 
          a(href="!{urlMP}") mountainproject.com
    .grid-item.sidebar
      img.problem-image(src=`${image}` width='100%' alt=`Picture of the ${problem} bouldering problem`)
      